{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
  <div style="width: 100%; display: flex; align-items:center; justify-content: center;">
    <textarea name="comment-body"></textarea>
  </div>

  <div class="submit-vote-buttons">
    <button type="submit">add comment</button>
    <button type="button" class="upvote-btn">upvote</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}